<main class = "shadow-image">
    <h1 class ="center">Character Finder</h1>
    <p class ="center2">This website will helps you find your best marvel characters. Enter the name of your favorite comic character and it will 
        display you the whole list of movies related to it.
    </p>
    <form method="post" action="/search" class ="center2">
        <label for="searchCharacter" >Search a Marvel Character:</label>
        <input type="text" id="searchCharacter" name="searchTerm" ><br><br>
        <input type="submit" value="Submit" >
    </form>
</main>